body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 300px; /* Adjust width as needed */
    font-size: 30px;
}